.headerWrap {
    background-color: #324053;
    position: relative;
}

.headerButton {
    font-size: 1rem;
    color: #fff;
    padding: 0.75em 1em;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.headerButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.headerOwnChars {
    display: inline-block;
    margin: 0 0.5em;
    border-left: 2px solid #2f2f2f;

    padding: 0 0.5em;
}

.headerUserInfo {
    display: inline-block;
    position: absolute;
    right: 0;
}

.headerUserLabel,
.headerUserName {
    margin-right: 0.5em;
    color: #9b9b9b;
}

.headerSpacer {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    background-color: #c4c4c4;
    vertical-align: middle;
    margin: 0 0.5em;
}
